# EditorConfig: https://EditorConfig.org

root = true

[*]
indent_style = space
charset = utf-8
end_of_line = lf
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[**.{json,yml}]
indent_size = 2
